*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}


header {
    background-color: #333;
    color:#ccc;
    text-align: center;
    padding:10px 0;
}
nav a{
    color:#ee9208;
    text-decoration: none;
    margin: 0 10px;
    text-decoration: none;
}

    .container {
        max-width: 960px;
        margin: 0 auto;
        padding: 10px;
    
}
article {
    text-align: center;
    padding: 20px;

    .bloque1, .bloque5 {
        background-color: #ffffff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        text-align: center;
    }
    .bloque1 a {
        color: #ee9208;
    }
}

/* Estilos para la imagen */
.bloque {
    text-align: center;
    transform: scale(1.1);
    transition: transform 0.3s;
    border-radius: 10px;

    img {
        max-width: 100%;
        height: auto;
        margin: 10px;
        max-width: 400px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
    
     img:hover {
        transform: scale(1.1);
        transition: transform 0.3s;
    }
}

/* Estilos para la sección "Nos encontramos aquí" */
.bloque5 {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;

    h2 {
        color: #333;
    }
}

/* Estilos para la sección de contacto */
section {
    background-color: #fff;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 24px;
    color: #333;
}

h3 {
    font-size: 18px;
    color: #555;
    text-align: center;
}

form {
    margin-top: 20px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

.horarios {
    background-color: #f0f0f0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;

    h4 {
        font-size: 1.5em;
        color: #333;
        margin: 10px 0;
    }
    p {
        font-size: 1.2em;
        color: #666;
        margin: 5px 0;
    }
}

/* Estilos para el pie de página */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

/* Estilo para el título */
h1 {
    text-align: center;
    font-size: 24px;
}

/* Estilo para la galería de imágenes */
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

     img {
        margin: 10px;
        max-width: 500px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
}

.gallery img:hover {
    transform: scale(1.1);
    transition: transform 0.3s;
}


/* Estilo para sobre nosotros */
h2, p, #sobrenosotros {
    text-align: center;
}

/* Estilo para menu */
.menu {
    background-color: #13131341;
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 28px;
}

ul {
    list-style: none;
    padding: 0;
    
    li {
        margin: 5px 0;
        text-align: center;
        margin-bottom: 30px;

    }
    
}



@media (max-width: 576px){
    .bloque img{
        display: none;
    }

}



